#home {
    background-image: url('../../assests/img/background4.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
     height:100vh;
     width: 100vw;

     section {
         background-color: rgba(0,0,0,0.7);
         border-radius: 40px;
         padding-left: $md;
         padding-right: $md;
         height: 80%;
         width: 35%;
         position: fixed;
         top: 19%;
         bottom: 20%;
         /*left: 50%;*/
         margin-top: -50px;
         /*margin-left: -50px;*/
     }
     
     .logo{
        /*top: 40%;*/
        position: static;
        margin-top: 10px;
        margin-left: 175px;
        height: 20%;
        width: 20%;
    }
    
    h1 {
        font-size: $lg;
        font-weight: 400;
        text-align: center;
        color: $off-white;
        margin-top: 30px;
    }

    .play-button-container{
        width: 100%;
    }

    a.play-button {
        background-color: $red;
        border-radius: $button-radius;
        color: #ffffff;
        display: block;
        cursor: pointer;
        padding: $normal;
        text-align: center;
        transition: 0.3s linear all;
        margin-top: 40px;

    }
    
    a.play-button:hover{
        background-color: darken($red, 10%);
    }

    .auth-container{
        width:100%;
        display:flex;
        justify-content: space-between;
        margin-top: $lg;
    }

    #login-button{
        background-color: $green;
    }

    #login-button:hover{
        background-color: darken($green,10%);
    }

    #signup-button{
        background-color: $blue;
    }

    #signup-button:hover{
        background-color: darken($blue,10%);
    }

    .auth-container .auth-buttons{
        color: #ffff;
        cursor: pointer;
        border-radius: $button-radius;
        padding: $normal 0;
        text-align: center;
        transition: 0.3s linear all;
        width: 45%;
    }
}   

@media (max-width: 768px){
    #home section{
        padding: 0 $normal;
        width: 100%;
        height: 100%;
    }
}