//fonts
$chelsea:'Chelsea Market', cursive;

//colors

$orange: #ffa500;
$off-white: #f8f8f8;
$off-black: #333;
$red: #FF0000;
$green: #57b846;
$blue: #1da1f2;
$white: #fff;
$error-text: #f44336;
$success-text: #4caf50;

//sizes
$xs: 0.5rem;
$normal: 1rem;
$sm:1.5rem;
$md:2rem;
$lg:3rem;
$xlg:5rem;
$xxlg:7rem;

//button radius
$button-radius: 30px;

//break points

$lg-breakpoint: 1024px;
$md-breakpoint: 768px;
$sm-breakpoint: 641px;
$xs-breakpoint: 480px;